@import "tailwindcss";

@import "@fontsource/inter";
@import "@fontsource/press-start-2p";

html{
scroll-behavior:smooth;
}

*{
box-sizing:border-box;
}

body{

margin:0;
min-height:100vh;

font-family:"Inter",sans-serif;

background:#FDF7F8;

background-image:

radial-gradient(circle at 15% 20%,rgba(255,196,222,.45),transparent 28%),

radial-gradient(circle at 80% 10%,rgba(213,196,255,.35),transparent 30%),

radial-gradient(circle at 60% 75%,rgba(255,210,220,.35),transparent 28%);

color:#3F2C4E;

overflow-x:hidden;

}

.pixel-title{

font-family:"Press Start 2P",cursive;

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#f9edf2;

}

::-webkit-scrollbar-thumb{

background:#bca7db;

border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

background:#8c74bb;

}


.pixel-star {
  position: absolute;

  width: 4px;
  height: 4px;

  background: #d79ab7;

  box-shadow:
    0 0 8px #d79ab7,
    0 0 14px #f8dde3;

  animation: twinkle 4s infinite ease-in-out;

  pointer-events: none;
}


body{
cursor:none;
}

a,
button{
cursor:none;
}